@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
  color: var(--Very-dark-desaturated-blue);
}
:root {
  /* ### Primary */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  /* ### Neutral */
  --Dark-gray: hsl(0, 0%, 59%);
}
body {
  background-color: var(--Dark-cyan);
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: url("./images/bg-pattern-card.svg");
  width: 350px;
  height: 374px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  .info {
    position: absolute;
    width: 100%;
    top: 140px;
    height: -webkit-fill-available;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    & img {
      margin: -53px 0 14px 0;
      width: 96px;
      border: 5px white solid;
      border-radius: 100%;
    }
    .name-age {
      height: 23px;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 9px;
      & span {
        font-weight: initial;
        margin-left: 8.5px;
        color: var(--Dark-grayish-blue);
      }
    }
    .location {
      color: var(--Dark-grayish-blue);
      font-size: 14px;
      margin-bottom: 28px;
    }
    & hr {
      width: 100%;
      border: 0;
      height: 1px;
      background-color: #e8e9ec;
      margin-bottom: 19px;
    }
    .metrics {
      display: flex;
      height: 40px;
      width: 100%;
      padding-left: 48px;
      box-sizing: border-box;
      & div {
        display: flex;
        align-items: center;
        flex-direction: column;
        .value {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 6px;
        }
        .type {
          font-size: 10px;
          letter-spacing: 1.5px;
          color: var(--Dark-grayish-blue);
        }
      }
      & > div:first-child {
        margin-right: 48px;
      }
      & > div:nth-child(2) {
        margin-right: 57px;
      }
    }
  }
}
@media (width < 375px) {
  .card {
    width: 326px;
    height: 374px;
    .info {
      .metrics {
        padding-left: initial;
        justify-content: space-evenly;
        & > div:first-child {
          margin-right: initial;
        }
        & > div:nth-child(2) {
          margin-right: initial;
        }
      }
    }
  }
}
